#kaart {
    width: 100%;
    height: 75vh;
    padding: 0;

}

.marker {
    background-image: url('../assets/img/marker.png');
    background-size: cover;
    width: 25px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    /* font-family: 'Open Sans', sans-serif; */
}